---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        type of animal is a natterjack?","correct_answer":"Toad","incorrect_answers":["Bird","Fish","Insect"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        is the fastest  land animal?","correct_answer":"Cheetah","incorrect_answers":["Lion","Thomson&rsquo;s
        Gazelle","Pronghorn Antelope"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        are rhino&#039;s horn made of?","correct_answer":"Keratin","incorrect_answers":["Bone","Ivory","Skin"]},{"category":"Animals","type":"multiple","difficulty":"ea[...]
