---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        is the scientific name for modern day humans?","correct_answer":"Homo Sapiens","incorrect_answers":["Homo
        Ergaster","Homo Erectus","Homo Neanderthalensis"]},{"category":"Animals","type":"boolean","difficulty":"easy","question":"A
        bear does NOT defecate during hibernation. ","correct_answer":"True","incorrect_answers":["False"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"For
        what reason would a spotted hyena &quot;laugh&quot;?","correct_answer":"Nervousness","incorrect_answers":["Excitement","Aggression","Exhaustion"]},{"category":"Animals[...]
