---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"hard","question":"Which
        species of Brown Bear is not extinct?","correct_answer":"Syrian Brown Bear","incorrect_answers":["California
        Grizzly Bear","Atlas Bear","Mexican Grizzly Bear"]},{"category":"Animals","type":"boolean","difficulty":"easy","question":"Kangaroos
        keep food in their pouches next to their children.","correct_answer":"False","incorrect_answers":["True"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        do you call a baby bat?","correct_answer":"Pup","incorrect_answers":["Cub","Chick","Kid"]},{"category":"Animals","type":"multiple","difficulty":"h[...]
