---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"boolean","difficulty":"easy","question":"A
        slug&rsquo;s blood is green.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Animals","type":"multiple","difficulty":"hard","question":"Which
        species of Brown Bear is not extinct?","correct_answer":"Syrian Brown Bear","incorrect_answers":["California
        Grizzly Bear","Atlas Bear","Mexican Grizzly Bear"]},{"category":"Animals","type":"boolean","difficulty":"easy","question":"A
        bear does NOT defecate during hibernation. ","correct_answer":"True","incorrect_answers":["False"]},{"category":"Animals","type":"multiple","difficulty":[...]
