---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        does &quot;hippopotamus&quot; mean and in what langauge?","correct_answer":"River
        Horse (Greek)","incorrect_answers":["River Horse (Latin)","Fat Pig (Greek)","Fat
        Pig (Latin)"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        is the scientific name for the &quot;Polar Bear&quot;?","correct_answer":"Ursus
        Maritimus","incorrect_answers":["Polar Bear","Ursus Spelaeus","Ursus Arctos"]},{"category":"Animals","type":"boolean","difficulty":"medium","question":"The
        average lifespan of a wildcat is only around 5-6 years. ","correct_answer":"False","incorrec[...]
