---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"medium","question":"A
        carnivorous animal eats flesh, what does a nucivorous animal eat?","correct_answer":"Nuts","incorrect_answers":["Nothing","Fruit","Seaweed"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        is the scientific name for the &quot;Polar Bear&quot;?","correct_answer":"Ursus
        Maritimus","incorrect_answers":["Polar Bear","Ursus Spelaeus","Ursus Arctos"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"How
        many legs do butterflies have?","correct_answer":"6","incorrect_answers":["2","4","0"]},{"category":"Animals","type":"multiple","di[...]
