---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        is the scientific name for modern day humans?","correct_answer":"Homo Sapiens","incorrect_answers":["Homo
        Ergaster","Homo Erectus","Homo Neanderthalensis"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"Hippocampus
        is the Latin name for which marine creature?","correct_answer":"Seahorse","incorrect_answers":["Dolphin","Whale","Octopus"]},{"category":"Animals","type":"boolean","difficulty":"medium","question":"&quot;Kamea,&quot;
        the Gilbertese Islander word for dog, is derived from the English phrase &quot;Come
        here!&quot;","correct_ans[...]
