---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"boolean","difficulty":"easy","question":"A
        slug&rsquo;s blood is green.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Animals","type":"multiple","difficulty":"hard","question":"What
        is the scientific name of the Budgerigar?","correct_answer":"Melopsittacus
        undulatus","incorrect_answers":["Nymphicus hollandicus","Pyrrhura molinae","Ara
        macao"]},{"category":"Animals","type":"boolean","difficulty":"medium","question":"The
        average lifespan of a wildcat is only around 5-6 years. ","correct_answer":"False","incorrect_answers":["True"]},{"category":"Animals","typ[...]
