---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"medium","question":"A
        carnivorous animal eats flesh, what does a nucivorous animal eat?","correct_answer":"Nuts","incorrect_answers":["Nothing","Fruit","Seaweed"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        is the fastest  land animal?","correct_answer":"Cheetah","incorrect_answers":["Lion","Thomson&rsquo;s
        Gazelle","Pronghorn Antelope"]},{"category":"Animals","type":"multiple","difficulty":"easy","question":"The
        K\u0101k\u0101p\u014d is a large, flightless, nocturnal parrot native to which
        country?","correct_answer":"New Zealand","incorrect_answers":["South Af[...]
