---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"multiple","difficulty":"easy","question":"What
        is the fastest  land animal?","correct_answer":"Cheetah","incorrect_answers":["Lion","Thomson&rsquo;s
        Gazelle","Pronghorn Antelope"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"What
        is the scientific name for the &quot;Polar Bear&quot;?","correct_answer":"Ursus
        Maritimus","incorrect_answers":["Polar Bear","Ursus Spelaeus","Ursus Arctos"]},{"category":"Animals","type":"boolean","difficulty":"easy","question":"A
        bear does NOT defecate during hibernation. ","correct_answer":"True","incorrect_answers":["False"]},[...]
