---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=50&category=27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Animals","type":"boolean","difficulty":"easy","question":"The
        Axolotl is an amphibian that can spend its whole life in a larval state.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Animals","type":"multiple","difficulty":"hard","question":"What
        was the name of the Ethiopian Wolf before they knew it was related to wolves?","correct_answer":"Simien
        Jackel","incorrect_answers":["Ethiopian Coyote","Amharic Fox","Canis Simiensis"]},{"category":"Animals","type":"multiple","difficulty":"medium","question":"A
        carnivorous animal eats flesh, what does a nucivorous animal eat?","correct_answer":"Nuts","incorrect_answers":["Nothing","Fru[...]
